.sidenav {
    background-color: black;
    width: 200px;
}

.sidenav a{
    color: whitesmoke;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: white;
}